*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
h1{
    text-align: center;
    
}
.buttons{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.button{   
    height: 200px;
    width: 200px;
    border: none;
    margin: 20px;
}
#grey{
background-color: gray;
}
#blue{
background-color: blue;
}
#black{
    background-color: black;
}
#green{
background-color: green;
}
#yellow{
background-color: yellow;

}